Flask==2.3.3          # Usa una versión de Flask compatible con la versión actual de Werkzeug.
Werkzeug==2.3.7       # Usa una versión de Werkzeug que sea compatible con Flask.
gunicorn==23.0.0      # Mantén la versión estable de gunicorn.
python-telegram-bot==20.3 # Para interactuar con la API de Telegram.
openai>=1.0.0         # Para usar la API de OpenAI.
